<template>
  <div class="leading-normal p-4 font-sans" id="app">
    <p class="mb-4">Pick a city to see its 5-day forecast</p>
    <div class="flex flex-col md:flex-row md:-mx-4">
      <div class="form-group w-1/4 px-4">
        <input type="radio" id="glasgow" value="Glasgow" v-model="city" />
        <label for="glasgow">Glasgow</label>
      </div>
      <div class="form-group w-1/4 px-4">
        <input type="radio" id="edinburgh" value="Edinburgh" v-model="city" />
        <label for="edinburgh">Edinburgh</label>
      </div>
      <div class="form-group w-1/4 px-4">
        <input type="radio" id="auckland" value="Auckland" v-model="city" />
        <label for="auckland">Auckland</label>
      </div>
      <div class="form-group w-1/4 px-4">
        <input type="radio" id="new-york" value="New York" v-model="city" />
        <label for="new-york">New York</label>
      </div>
    </div>
    <h1 class="text-center mb-4 text-6xl font-bold">
      5-Day Forecast for {{ city }}
    </h1>
    <div class="flex flex-col md:flex-row md:-mx-4">
      <div class="w-full md:w-1/5 md:px-4" v-for="day in weatherData" :key="day[0].dt">
        <div class="border border-grey-200 p-4 rounded shadow-md">
          <h2 class="mb-4 font-bold text-center">
            {{ formattedDate(day[0]) }}
          </h2>
          <div
            v-for="hour in day"
            :key="hour.dt"
            class="border border-grey-200 mb-4 p-4 rounded flex items-center"
          >
            <i class="text-4xl wi mr-4" :class="weatherIcon(hour)"></i>
            <div>
              <time>{{ formattedTime(hour) }}</time>
              <div>
                <strong>{{ Math.floor(hour.main.temp) }}&deg;C</strong
                >
                <div>{{ hour.weather[0].main }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
const apiKey = "9a9cb2ffb14d50e187a371a431f5648c";

export default {
  name: "app",
  data: () => ({
    weatherData: [],
    city: "Glasgow"
  }),
  mounted() {
    this.getTheWeather();
  },
  watch: {
    city() {
      this.getTheWeather();
    }
  },
  methods: {
    getTheWeather() {
      const apiUrl = `https://api.openweathermap.org/data/2.5/forecast?units=metric&q=${this.city},us&mode=json&appid=${apiKey}`;

      axios.get(`${apiUrl}`).then(response => {
        let weather = response.data;
        if (weather.list.length) {
          this.showTheWeather(weather);
        }
      });
    },
    showTheWeather(weather) {
      let startOfRange = 0;
      let endOfRange;

      if (weather.list && weather.list.length) {
        this.weatherData = [];

        let currentDay = moment.unix(weather.list[0].dt).get("date");

        weather.list.forEach((item, index) => {
          let itemDay = moment.unix(item.dt).get("date");

          endOfRange = index;

          if (itemDay !== currentDay) {
            this.weatherData.push(weather.list.slice(startOfRange, endOfRange));
            currentDay = itemDay;
            startOfRange = index;
          }
        });

        this.weatherData.push(weather.list.slice(startOfRange));
      } else {
        this.weatherData = [];
      }
    },
    formattedDate(date) {
      return moment.unix(date.dt).format("dddd, D MMM");
    },

    formattedTime(date) {
      return moment.unix(date.dt).format("hh:mm a");
    },
    weatherIcon(hour) {
      return `wi-owm-${hour.sys.pod === "d" ? "day" : "night"}-${
        hour.weather[0].id
      }`;
    }
  }
};
</script>

<style>
.form-group {
  margin-bottom: 1rem;
}

label {
  font-weight: 700;
  margin-left: 1rem;
}

label:hover {
  cursor: pointer;
}
</style>
